# Rust stuff
**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/

# OS stuff
.DS_Store

# Python stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
wheels/
*.egg-info/